/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   CSS. About Section
   d. Resume Section
   e. Portfolio Section
   f. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body { background: #d3cece; }

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
   position: relative;
   height: 800px;
   min-height: 500px;
   width: 100%;
   background: #161415 url(../images/backgroundNew.jpg) no-repeat top center;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
}

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;
   text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h2 {
   font: 45px/1.1em 'opensans-bold', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h3 {
   font: 18px/1.9em 'librebaskerville-regular', serif;
   color: #A8A8A8;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner-text h3 span,
header .banner-text h3 a {
   color: #fff;
}
header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

/* header social links */
header .social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
header .social li a { color: #fff; }
header .social li a:hover { color: #11ABB0; }

/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: #11ABB0; }

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}
.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #F06000; }


/* ------------------------------------------------------------------ */
/* CSS. About Section
/* ------------------------------------------------------------------ */

#about {
   background: rgb(7, 7, 7);
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
}

#about a, #about a:visited  { color: #fff; }
#about a:hover, #about a:focus { color: #11ABB0; }

#about h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   color: #fff;
   margin-bottom: 12px;
}
#about p {
   line-height: 30px;
   color: #7A7A7A;
}
#about .profile-pic {
   position: relative;
   width: 120px;
   height: 120px;
   border-radius: 100%;
}
#about .contact-details { width: 41.66667%; }
#about .download {
   width: 58.33333%;
   padding-top: 6px;
}
#about .main-col { padding-right: 5%; }
#about .download .button {
   margin-top: 6px;
   background: #444;
}
#about .download .button:hover {
   background: #fff;
   color: #2B2B2B;
}
#about .download .button i {
   margin-right: 15px;
   font-size: 20px;
}


/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

#resume_work {
   background: #F2F1EB;
   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
}

#resume_work a, #resume_work a:visited  { color: #11ABB0; }
#resume_work a:hover, #resume_work a:focus { color: #313131; }

#resume_work h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#resume_work h1 span {
   border-bottom: 3px solid #11ABB0;
   padding-bottom: 6px;
}
#resume_work h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
}

#resume_work .header-col { padding-top: 9px; }
#resume_work .main-col { padding-right: 10%; }

.education, .work {
   margin-bottom: 48px;
   padding-bottom: 24px;
   border-bottom: 1px solid #E8E8E8;
}
#resume_work .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
}
#resume_work .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#resume_work .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}

#resume_education {
   background: #F2F1EB;
   padding-bottom: 72px;
   overflow: hidden;
}

#resume_education a, #resume_education a:visited  { color: #11ABB0; }
#resume_education a:hover, #resume_education a:focus { color: #313131; }

#resume_education h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#resume_education h1 span {
   border-bottom: 3px solid #11ABB0;
   padding-bottom: 6px;
}
#resume_education h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
}

#resume_education .header-col { padding-top: 9px; }
#resume_education .main-col { padding-right: 10%; }

.education, .work {
   margin-bottom: 48px;
   padding-bottom: 24px;
   border-bottom: 1px solid #E8E8E8;
}
#resume_education .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
}
#resume_education .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#resume_education .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}

#resume_skills {
   background: #F2F1EB;
   padding-bottom: 72px;
   overflow: hidden;
   border-bottom: 1px solid #E8E8E8;
}

#resume_skills a, #resume_skills a:visited  { color: #11ABB0; }
#resume_skills a:hover, #resume_skills a:focus { color: #313131; }

#resume_skills h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#resume_skills h1 span {
   border-bottom: 3px solid #11ABB0;
   padding-bottom: 6px;
}
#resume_skills h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
}

#resume_skills .header-col { padding-top: 9px; }
#resume_skills .main-col { padding-right: 10%; }

#resume_skills .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
}
#resume_skills .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#resume_skills .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}

/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/

.bars {
	width: 95%;
	float: left;
	padding: 0;
	text-align: left;
}
.bars .skills {
  	margin-top: 36px;
   list-style: none;
}
.bars li {
   position: relative;
  	margin-bottom: 60px;
  	background: #ccc;
  	height: 42px;
  	border-radius: 3px;
}
.bars li em {
	font: 15px 'opensans-bold', sans-serif;
   color: #313131;
	text-transform: uppercase;
   letter-spacing: 2px;
	font-weight: normal;
   position: relative;
	top: -36px;
}
.bar-expand {
   position: absolute;
   left: 0;
   top: 0;

   margin: 0;
   padding-right: 24px;
  	background: #313131;
   display: inline-block;
  	height: 42px;
   line-height: 42px;
   border-radius: 3px 0 0 3px;
}

.java {
  	width: 90%;
  	-moz-animation: java 2s ease;
  	-webkit-animation: java 2s ease;
}
.python {
  	width: 90%;
  	-moz-animation: python 2s ease;
  	-webkit-animation: python 2s ease;
}
.HTML {
  	width: 90%;
  	-moz-animation: HTML 2s ease;
  	-webkit-animation: HTML 2s ease;
}
.CSS {
  	width: 80%;
  	-moz-animation: CSS 2s ease;
  	-webkit-animation: CSS 2s ease;
}
.Javascript {
  	width: 80%;
  	-moz-animation: Javascript 2s ease;
  	-webkit-animation: Javascript 2s ease;
}
.SQL {
  	width: 90%;
  	-moz-animation: SQL 2s ease;
  	-webkit-animation: SQL 2s ease;
}

.AJAX {
   width: 90%;
   -moz-animation: AJAX 2s ease;
   -webkit-animation: AJAX 2s ease;
}
.XML {
   width: 75%;
   -moz-animation: XML 2s ease;
   -webkit-animation: XML 2s ease;
}
.ReactJS{
   width: 85%;
 -moz-animation: reactJS 2s ease;
 -webkit-animation: reactJS 2s ease;
}



.Selenium {
   width: 90%;
   -moz-animation: Selenium 2s ease;
   -webkit-animation: Selenium 2s ease;
}
.Maven {
   width: 90%;
   -moz-animation: Maven 2s ease;
   -webkit-animation: Maven 2s ease;
}
.JIRA {
   width: 95%;
   -moz-animation: JIRA 2s ease;
   -webkit-animation: JIRA 2s ease;
}
.Linux {
   width: 80%;
   -moz-animation: Linux 2s ease;
   -webkit-animation: Linux 2s ease;
}
.Jenkins {
   width: 90%;
   -moz-animation: Jenkins 2s ease;
   -webkit-animation: Jenkins 2s ease;
}
.Serenity {
   width: 90%;
   -moz-animation: Serenity 2s ease;
   -webkit-animation: Serenity 2s ease;
}

.Pattern {
 width: 90%;
 -moz-animation: Pattern 2s ease;
 -webkit-animation: Pattern 2s ease;
}
.Docker {
 width: 90%;
 -moz-animation: Docker 2s ease;
 -webkit-animation: Docker 2s ease;
}
.JUnit{
 width: 90%;
-moz-animation: JUnit 2s ease;
-webkit-animation: JUnit 2s ease;
}

.Flask {
   width: 95%;
   -moz-animation: Flask 2s ease;
   -webkit-animation: Flask 2s ease;
}
.MVC {
   width: 90%;
   -moz-animation: MVC 2s ease;
   -webkit-animation: MVC 2s ease;
}
.JBehave {
   width: 90%;
   -moz-animation: JBehave 2s ease;
   -webkit-animation: JBehave 2s ease;
}
.Mockito {
   width: 90%;
   -moz-animation: Mockito 2s ease;
   -webkit-animation: Mockito 2s ease;
}

.Github {
 width: 90%;
 -moz-animation: Github 2s ease;
 -webkit-animation: Github 2s ease;
}
.Sonar {
 width: 90%;
 -moz-animation: Sonar 2s ease;
 -webkit-animation: Sonar 2s ease;
}
.Bootstrap{
 width: 90%;
-moz-animation: Bootstrap 2s ease;
-webkit-animation: Bootstrap 2s ease;
}


@-moz-keyframes java {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-moz-keyframes reactJS {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
@-moz-keyframes python {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-moz-keyframes HTML {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-moz-keyframes CSS {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-moz-keyframes Javascript {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-moz-keyframes SQL {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-moz-keyframes AJAX {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-moz-keyframes XML {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-moz-keyframes Selenium {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-moz-keyframes Maven {
    0%   { width: 0px;  }
    100% { width: 80%;  }
  }
 @-moz-keyframes JIRA {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-moz-keyframes Linux {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-moz-keyframes Jenkins {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-moz-keyframes Serenity {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-moz-keyframes Pattern {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-moz-keyframes Docker {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-moz-keyframes JUnit {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-moz-keyframes Flask {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-moz-keyframes MVC {
    0%   { width: 0px;  }
    100% { width: 80%;  }
  }
 @-moz-keyframes JBehave {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-moz-keyframes Mockito {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-moz-keyframes Github {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-moz-keyframes Sonar {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-moz-keyframes Bootstrap {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }



@-webkit-keyframes java {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-webkit-keyframes python {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-webkit-keyframes reactJS {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
@-webkit-keyframes HTML {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-webkit-keyframes CSS {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-webkit-keyframes Javascript {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-webkit-keyframes SQL {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-webkit-keyframes AJAX {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-webkit-keyframes XML {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-webkit-keyframes Selenium {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-webkit-keyframes Maven {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-webkit-keyframes JIRA {
    0%   { width: 0px;  }
    100% { width: 80%;  }
  }
 @-webkit-keyframes Linux {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-webkit-keyframes Jenkins {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-webkit-keyframes Serenity {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-webkit-keyframes Pattern {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-webkit-keyframes Docker {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-webkit-keyframes JUnit {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-webkit-keyframes Flask {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-webkit-keyframes MVC {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-webkit-keyframes JBehave {
    0%   { width: 0px;  }
    100% { width: 80%;  }
  }
 @-webkit-keyframes Mockito {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-webkit-keyframes Github {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-webkit-keyframes Sonar {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-webkit-keyframes Bootstrap {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }

/* ------------------------------------------------------------------ */
/* e. Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio {
   background: #F2F1EB;
   padding-top: 90px;
   padding-bottom: 60px;
   border-bottom: 1px solid #E8E8E8;
}
#portfolio h1 {
   font: 15px/24px 'opensans-semibold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: center;
   margin-bottom: 48px;
   color: #95A3A3;
}

/* Portfolio Content */
#portfolio-wrapper .columns { margin-bottom: 36px; }
.portfolio-item .item-wrap {
   background: #fff;
   overflow: hidden;
   position: relative;

   -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio-item .item-wrap a {
   display: block;
   cursor: pointer;
}

/* overlay */
.portfolio-item .item-wrap .overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;

	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

   background: url(../images/overlay-bg.png) repeat;
}
.portfolio-item .item-wrap .link-icon {
   display: block;
   color: #fff;
   height: 30px;
   width: 30px;
   font-size: 18px;
   line-height: 30px;
   text-align: center;

   opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -15px;
   margin-top: -15px;
}
.portfolio-item .item-wrap img {
   vertical-align: bottom;
}
.portfolio-item .portfolio-item-meta { padding: 18px }
.portfolio-item .portfolio-item-meta h5 {
   font: 14px/21px 'opensans-bold', sans-serif;
   color: #fff;
}
.portfolio-item .portfolio-item-meta p {
   font: 12px/18px 'opensans-light', sans-serif;
   color: #c6c7c7;
   margin-bottom: 0;
}

/* on hover */
.portfolio-item:hover .overlay {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}
.portfolio-item:hover .link-icon {
   opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}

/* popup modal */
.popup-modal {
	max-width: 550px;
	background: #fff;
	position: relative;
	margin: 0 auto;
}
.popup-modal .description-box { padding: 12px 36px 18px 36px; }
.popup-modal .description-box h4 {
   font: 15px/24px 'opensans-bold', sans-serif;
	margin-bottom: 12px;
   color: #111;
}
.popup-modal .description-box p {
	font: 14px/24px 'opensans-regular', sans-serif;
   color: #A1A1A1;
   margin-bottom: 12px;
}
.popup-modal .description-box .categories {
   font: 11px/21px 'opensans-light', sans-serif;
   color: #A1A1A1;
   text-transform: uppercase;
   letter-spacing: 2px;
   display: block;
   text-align: left;
}
.popup-modal .description-box .categories i {
   margin-right: 8px;
}
.popup-modal .link-box {
   padding: 18px 36px;
   background: #111;
   text-align: left;
}
.popup-modal .link-box a {
   color: #fff;
	font: 11px/21px 'opensans-bold', sans-serif;
	text-transform: uppercase;
   letter-spacing: 3px;
   cursor: pointer;
}
.popup-modal a:hover {	color: #00CCCC; }
.popup-modal a.popup-modal-dismiss { margin-left: 24px; }


/* fadein/fadeout effect for modal popup
/* ------------------------------------------------------------------ */

/* content at start */
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
   opacity: 0;
   -webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
   transition: all 200ms ease-in-out;
}
/* content fadein */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
   opacity: 1;
}
/* content fadeout */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
   opacity: 0;
}

#certification {
   background: #F2F1EB;
   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
}

#certification a, #certification a:visited  { color: #11ABB0; }
#certification a:hover, #certification a:focus { color: #313131; }

#certification h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#certification h1 span {
   border-bottom: 3px solid #11ABB0;
   padding-bottom: 6px;
}
#certification h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
}

#certification .header-col { padding-top: 9px; }
#certification .main-col { padding-right: 10%; }

#certification .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
}
#certification .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#certification .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}

/* ------------------------------------------------------------------ */
/* f. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 48px;
   margin-bottom: 48px;
   color: #303030;
   font-size: 14px;
   text-align: center;
   position: relative;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { background-color: #0F9095; }

